* {
	box-sizing: inherit;
	padding: 0px;
	margin: 0px;
	border: 0px solid currentColor;
	box-shadow: none;
	background: transparent;
	font-family: inherit;
	font-size: 1em;
	font-weight: normal;
	color: inherit;
	list-style-type: none;
	list-style-position: inside;
	text-decoration: inherit;
}

:root {
	box-sizing: border-box;
	font-family: sans-serif;
	background-color: #e5e5f7;
	background-image: linear-gradient(135deg, var(--primary-bg) 25%, transparent 25%),
		linear-gradient(225deg, var(--primary-bg) 25%, transparent 25%),
		linear-gradient(45deg, var(--primary-bg) 25%, transparent 25%),
		linear-gradient(315deg, var(--primary-bg) 25%, #e5e5f7 25%);
	background-position: 10px 0, 10px 0, 0 0, 0 0;
	background-size: 10px 10px;
	background-repeat: repeat;

	--main-bg: #212121;
	--main-color: #bdbdbd;

	--primary-bg: #3f51b5;
	--primary-color: white;

	--heading-root-font-size: 2em;
	--heading-decrement: 0.15em;
}

h1 {
	--heading-level: 1;
}
h2 {
	--heading-level: 2;
}
h3 {
	--heading-level: 3;
}
h4 {
	--heading-level: 4;
}
h5 {
	--heading-level: 5;
}
h6 {
	--heading-level: 6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	border-bottom-width: calc(calc(7 - var(--heading-level)) * 1px);
	margin: 1em 0 0.5em 0;
	--font-subtraction: calc(calc(var(--heading-level) - 1) * var(--heading-decrement));
	font-size: calc(var(--heading-root-font-size) - var(--font-subtraction));
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin: 0 0 0.5em 0;
}

hr {
	border-width: 2px;
	margin: 1em 0;
}

a {
	color: var(--primary-bg);
	border-bottom: 1px solid transparent;
}

a:hover {
	border-bottom-color: currentColor;
}

ul {
	margin: 1em 0;
}
li {
	list-style-type: disc;
}
